:root {
  --drawer-primary: rgba(100, 108, 255, 1);
  --drawer-bg: rgba(100, 108, 255, .1);
  --drawer-primary-light: rgb(190, 193, 255);
  --drawer-primary-bg-hover: rgba(100, 108, 255, 0.4);
  --drawer-neutral-bg: rgba(124, 124, 124, 0.4);
  --drawer-neutral-bg-hover: rgba(124, 124, 124, 0.7);
  --drawer-danger-bg: rgba(228, 21, 21, 0.4);
  --drawer-danger-bg-hover: rgba(228, 21, 21, 0.7);
  --drawer-success-bg: rgba(35, 156, 55, 0.4);
  --drawer-success-bg-hover: rgba(35, 156, 55, 0.7);
  --drawer-primary-active-color: rgba(248, 248, 248, 1);
  --drawer-primary-active-bg: rgba(79, 87, 192, 1);
  --drawer-primary-active-bg-hover: rgb(93, 102, 224);
  --drawer-light: rgba(243, 243, 243, 1);
  --drawer-border-color: rgb(216, 216, 216);
  --drawer-light-btn: rgba(212, 212, 212, 1);
  --drawer-border-radius: 0.5rem;
}

html[data-theme='dark'] {
  --drawer-primary-active-color: rgba(248, 248, 248, 1);
  --drawer-primary-active-bg: rgb(72, 79, 173);
  --drawer-primary-active-bg-hover: rgb(93, 102, 231);
  --drawer-light: rgb(40, 42, 54);
  --drawer-light-btn: rgba(212, 212, 212, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --drawer-primary-active-color: rgba(248, 248, 248, 1);
    --drawer-primary-active-bg: rgba(79, 87, 192, 1);
    --drawer-primary-active-bg-hover: rgb(93, 102, 224);
    --drawer-light: rgb(141, 141, 141);
    --drawer-light-btn: rgba(212, 212, 212, 1);
  }
}

.drawer-container {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--drawer-border-radius);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 100;
  font-family: helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.drawer-container.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 999999;
}

.toolbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: auto;
  height: fit-content;
  overflow: hidden;
  overflow-x: auto;
  background-color: var(--drawer-light);
}

.toolbar::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: var(--drawer-light);
}

.toolbar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--drawer-primary);
  border: 1px solid var(--drawer-primary);
}

.toolbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.toolbar.outerTop {
  border-top-left-radius: var(--drawer-border-radius);
  border-top-right-radius: var(--drawer-border-radius);
}
.toolbar.outerTop ~ .canvas-drawer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.toolbar.outerStart {
  border-top-left-radius: var(--drawer-border-radius);
  border-bottom-left-radius: var(--drawer-border-radius);
}

.toolbar.outerStart ~ .canvas-drawer {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toolbar.outerEnd {
  border-top-right-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.toolbar.outerEnd ~ .canvas-drawer {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.toolbar.outerBottom {
  border-bottom-left-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.toolbar.outerBottom ~ .canvas-drawer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.toolbar[class*='inner'] {
  position: absolute;
  z-index: 2;
}

.toolbar.innerTop {
  top: 0;
  left: 0;
  right: 0;
}

.toolbar.innerStart,
.toolbar.innerEnd,
.toolbar.outerStart,
.toolbar.outerEnd {
  flex-direction: column;
}

.toolbar.innerStart {
  top: 0;
  left: 0;
}

.toolbar.innerEnd {
  top: 0;
  right: 0;
}

.toolbar.innerBottom {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.toolbar .drawer-separator {
  margin-left: auto;
}

.toolbar .container-colorpicker {
  position: relative;
  margin: 0.2em;
}

.clr-field input {
  width: 30px;
  height: 24px;
  border-radius: var(--drawer-border-radius);
}

.clr-field button {
  border-radius: var(--drawer-border-radius);
}

.toolbar input,
.toolbar button,
.toolbar label {
  margin: 0.2em;
}

.toolbar input[type='file'] {
  width: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.drawer-container .canvas-drawer,
.drawer-container .svg-drawer {
  position: relative !important;
}

.drawer-container .canvas-drawer.grid,
.drawer-container .svg-drawer.grid {
  background-size:
    100px 100px,
    100px 100px,
    20px 20px,
    20px 20px;
  background-position:
    -1px -1px,
    -1px -1px,
    -1px -1px,
    -1px -1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}

.drawer-container .link {
  color: currentColor;
  transition: 0.2s color ease;
}

.drawer-container .link:hover {
  color: var(--drawer-primary);
}

.drawer-container .btn,
.drawer-menu .btn,
.drawer-modal .btn {
  border-radius: var(--drawer-border-radius);
  border: none;
  padding: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.drawer-container .btn.btn-primary:not(:disabled):not(.active):hover,
.drawer-menu .btn.btn-primary:not(:disabled):not(.active):hover,
.drawer-modal .btn.btn-primary:not(:disabled):not(.active):hover {
  background-color: var(--drawer-primary-bg-hover);
}

.drawer-container .btn.btn-neutral:not(:disabled):not(.active),
.drawer-menu .btn.btn-neutral:not(:disabled):not(.active),
.drawer-modal .btn.btn-neutral:not(:disabled):not(.active) {
  background-color: var(--drawer-neutral-bg);
}

.drawer-container .btn.btn-neutral:not(:disabled):not(.active):hover,
.drawer-menu .btn.btn-neutral:not(:disabled):not(.active):hover,
.drawer-modal .btn.btn-neutral:not(:disabled):not(.active):hover {
  background-color: var(--drawer-neutral-bg-hover);
}

.drawer-container .btn.btn-danger:not(:disabled):not(.active),
.drawer-menu .btn.btn-danger:not(:disabled):not(.active),
.drawer-modal .btn.btn-danger:not(:disabled):not(.active) {
  background-color: var(--drawer-danger-bg);
}

.drawer-container .btn.btn-danger:not(:disabled):not(.active):hover,
.drawer-menu .btn.btn-danger:not(:disabled):not(.active):hover,
.drawer-modal .btn.btn-danger:not(:disabled):not(.active):hover {
  background-color: var(--drawer-danger-bg-hover);
}

.drawer-container .btn:disabled,
.drawer-menu .btn:disabled .drawer-modal .btn:disabled {
  cursor: not-allowed;
}

.drawer-container .p-2 {
  padding: 0.7em;
}

.drawer-container .btn.active,
.drawer-menu .btn.active,
.drawer-modal .btn.active {
  background-color: var(--drawer-primary-active-bg);
  color: var(--drawer-primary-active-color);
}

.drawer-container .btn:focus,
.drawer-container .btn:focus-visible,
.drawer-menu .btn:focus,
.drawer-menu .btn:focus-visible {
  outline: var(--drawer-primary) solid 2px;
}

.toolbar .drawer-range {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.clr-picker {
  font-family: helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.drawer-menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0.2rem;
  border-radius: var(--drawer-border-radius);
  z-index: 2;
  background-color: #fff;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.drawer-menu .drawer-menu-item {
  margin: 0.1rem;
}

.drawer-menu.show {
  visibility: visible;
  justify-content: center;
  align-items: center;
}
