:root {
  --drawer-primary: #646cff;
  --drawer-primary-active-color: #f8f8f8;
  --drawer-primary-active-bg: #4f57c0;
  --drawer-light: #f3f3f3;
  --drawer-light-btn: #d4d4d4;
  --drawer-border-radius: 5px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body * {
  box-sizing: border-box;
}

.drawer-container {
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toolbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: auto;
  height: fit-content;
  overflow: hidden;
  overflow-x: auto;
  background-color: var(--drawer-light);
}

.toolbar::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: var(--drawer-light);
}

.toolbar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--drawer-primary);
  border: 1px solid var(--drawer-primary);
}

.toolbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.toolbar.outerTop {
  border-top-left-radius: var(--drawer-border-radius);
  border-top-right-radius: var(--drawer-border-radius);
}
.toolbar.outerTop ~ .canvas-drawer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.toolbar.outerStart {
  border-top-left-radius: var(--drawer-border-radius);
  border-bottom-left-radius: var(--drawer-border-radius);
}

.toolbar.outerStart ~ .canvas-drawer {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toolbar.outerEnd {
  border-top-right-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.toolbar.outerEnd ~ .canvas-drawer {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.toolbar.outerBottom {
  border-bottom-left-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.toolbar.innerBottom {
  border-bottom-left-radius: var(--drawer-border-radius);
  border-bottom-right-radius: var(--drawer-border-radius);
}

.toolbar.outerBottom ~ .canvas-drawer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.toolbar[class*='inner'] {
  position: absolute;
  z-index: 2;
}

.toolbar.innerTop {
  top: 0;
  left: 0;
}

.toolbar.innerStart,
.toolbar.innerEnd,
.toolbar.outerStart,
.toolbar.outerEnd {
  flex-direction: column;
}

.toolbar.innerStart {
  top: 0;
  left: 0;
}

.toolbar.innerEnd {
  top: 0;
  right: 0;
}

.toolbar.innerBottom {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.toolbar .container-colorpicker {
  position: relative;
  margin: 0.2em;
}

.toolbar input,
.toolbar button,
.toolbar label {
  margin: 0.2em;
}

.toolbar input[type='color'] {
  border: none;
  background-color: transparent;
  appearance: none;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  border-radius: 100%;
}

.toolbar input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.toolbar input[type='color']::-webkit-color-swatch {
  border-radius: 100%;
  border: none;
}

.toolbar input[type='file'] {
  width: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.drawer-container .canvas-drawer,
.drawer-container .svg-drawer {
  position: relative !important;
  border-radius: var(--drawer-border-radius);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.drawer-container .canvas-drawer.grid,
.drawer-container .svg-drawer.grid {
  background-size:
    100px 100px,
    100px 100px,
    20px 20px,
    20px 20px;
  background-position:
    -1px -1px,
    -1px -1px,
    -1px -1px,
    -1px -1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}
.drawer-container .btn,
.shape-menu .btn,
.drawer-modal .btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--drawer-light-btn);
}

.drawer-container .btn:not(:disabled):hover,
.shape-menu .btn:not(:disabled):hover,
.drawer-modal .btn:not(:disabled):hover {
  border-color: var(--drawer-primary);
}
.drawer-container .btn:disabled,
.shape-menu .btn:disabled .drawer-modal .btn:disabled {
  cursor: not-allowed;
}

.drawer-container .btn.active,
.shape-menu .btn.active,
.drawer-modal .btn.active {
  background-color: var(--drawer-primary-active-bg);
  color: var(--drawer-primary-active-color);
}

.drawer-container .btn:focus,
.drawer-container .btn:focus-visible,
.shape-menu .btn:focus,
.shape-menu .btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.toolbar .drawer-range {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.shape-menu {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shape-menu .shape-menu-item {
  margin: 0.1rem;
}

.shape-menu .shape-menu-item button {
}

.shape-menu.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
