.backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.backdrop.show {
  display: flex;
}

.drawer-modal {
  display: none;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: fixed;
  background-color: #fff;
  min-width: 200px;
  min-height: 300px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.drawer-modal.show {
  display: flex;
}

.drawer-modal .drawer-modal-header {
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 2px solid var(--drawer-light);
}

.drawer-modal .drawer-modal-header [data-modal="close"] {
  float: right;
}

.drawer-modal .drawer-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-modal .drawer-modal-body .drawer-modal-body-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.drawer-modal .drawer-modal-body .drawer-modal-body-list-item {
  padding: 0.5rem;
  border-bottom: 1px solid #d4d4d4;
}

.drawer-modal .drawer-modal-body .drawer-modal-body-list-item:last-of-type {
  border-bottom: none;
}

.drawer-modal .drawer-modal-footer {
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--drawer-light);
}
